#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-details {
  height: max-content;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  #form-details {
    width: 30%;
  }
}
@media screen and (max-width: 1000px) {
  #form-details {
    width: 40%;
  }
}

@media screen and (max-width: 750px) {
  #form-details {
    width: 55%;
  }
}
@media screen and (max-width: 600px) {
  #form-details {
    width: 75%;
  }
}
